a {
	font-weight: bold;
	background: linear-gradient(100deg, khaki, rgb(238, 234, 193));
	background-clip: text;
	-webkit-background-clip: text;
	margin: auto;
	color: aliceblue;
    text-decoration: none;
}
a:hover {
	color: transparent;
	transition: 200ms ease;
	text-decoration: underline;
}
nav {
    border-radius: 10px;
    border-width: 1px;
	margin: 20px auto;
	letter-spacing: 0.1em;
}
nav a {
	background: linear-gradient(100deg, rgb(180, 180, 180), rgb(220, 220, 220));
	background-clip: text;
	-webkit-background-clip: text;
    margin-right: 20px;
}
footer{
	margin: 20px auto;
	padding:20px;
	letter-spacing: 0.1em;
    float: right;
}
footer img {
    width: 100px;
}
p,li {
	font-style: italic;
	word-spacing: 0.3em;
}
h1,h2,h3,h4,h5,h6 {
	color: rgb(214, 76, 76);
	font-style: italic;
	font-size: 2em;
}
h1 {
	font-size: 40px;
}
body {
	margin: 0 5% 0 5%;
	font-size: 100%;
	line-height: 1;
	background-repeat: no-repeat;
	background-color: black;
	color: aliceblue;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol {
	counter-reset: my-counter 4;
	list-style: none;
}
ol li {
	counter-increment: my-counter -1;
}
ol li::before {
	content: counter(my-counter) '. ';
	color: khaki;
	font-size: 2rem;
	font-weight: bold;
}
p#super-parameter {
	color: rgb(214, 76, 76);
	font-size: 18px;
}
article {
	padding: 10px;
}
div.validator {
	text-align: center;
}
div.snippet p {
	margin-block-end: 1.5px;
}
div.snippet li {
	color: lightgreen;
	list-style-type: square;
	padding: 0;
	margin: 10px;
}
.yellow {
	color: khaki
}
.green {
	color: lightgreen
}
.purple {
	color: mediumslateblue
}
.orange {
	color: coral
}
p.drop-caps:first-letter {
	color: coral;
	initial-letter: 1.5;
	text-transform: capitalize;
	font-size: x-large;
}
b {
	color: rgb(225, 100, 100)
}

div.left {
    float: left;
    margin-right: 5%;
}

hr {
    height: 1px;
    background-color: rgb(214, 76, 76);
    border: none;
}
